sudo: required
dist: trusty
group: edge

language: python  # workaround for not setting CC/CXX with default value

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - build-essential
      - cmake
      - gcc-6
      - g++-6

before_install:
  - sudo apt-get install -qq libzmq3-dev mercurial git

install:
  - mkdir tmp
  - cd tmp
  - wget https://github.com/google/googletest/archive/release-1.8.0.tar.gz
  - tar -xf release-1.8.0.tar.gz
  - cd googletest-release-1.8.0
  - mkdir build
  - cd build
  - cmake -DBUILD_GTEST=1 -DBUILD_GMOCK=0 ..
  - make -j4
  - sudo make install
  - cd ../..
  - git clone https://github.com/zeromq/cppzmq
  - cd cppzmq
  - git reset --hard 4648ebc9643119cff2a433dff4609f1a5cb640ec  # Since only libzmq3-dev can be installed. The new zmq.hpp requires version above 4.
  - sudo cp zmq.hpp /usr/local/include
  - cd ../..
  - rm -rf tmp

matrix:
  include:
    - compiler: "gcc-6"
      env: CC=gcc-6 CXX=g++-6

script:
  - mkdir release
  - cd release
  - cmake -DCMAKE_BUILD_TYPE=release ..
  - make -j4
  - make test
